<footer class="footer">
  <div class="footer__container">
    <div class="footer__content">
      <div class="footer__section">
        <h4>À propos</h4>
        <ul>
          <li><a href="#">Qui sommes-nous ?</a></li>
          <li><a href="#">Notre histoire</a></li>
          <li><a href="#">Nos valeurs</a></li>
        </ul>
      </div>
      <div class="footer__section">
        <h4>Service Client</h4>
        <ul>
          <li><a href="#">Nous contacter</a></li>
          <li><a href="#">Suivi de commande</a></li>
          <li><a href="#">Politique de retour</a></li>
        </ul>
      </div>
      <div class="footer__section">
        <h4>Informations légales</h4>
        <ul>
          <li><a href="#">Mentions légales</a></li>
          <li><a href="#">Conditions générales de vente</a></li>
          <li><a href="#">Politique de confidentialité</a></li>
        </ul>
      </div>
      <div class="footer__section">
        <h4>Suivez-nous</h4>
        <div class="social-icons">
          <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
    </div>

    <div class="footer__bottom">
      <p class="footer__copyright">© 2023 Votre Entreprise. Tous droits réservés.</p>
      <p>Siège social : 123 Rue des Exemples, 75000 Paris, France</p>
      <p>RCS Paris 123 456 789 - SIRET 12 345 678 90 123 - TVA intracommunautaire FR12345678901</p>
    </div>
  </div>
</footer>
